{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia del manga {% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Manga</span>
              <span class="section-heading-lower">Historia desde el primer anime</span>
            </h2>
            <p>El nacimiento del manga se sitúa en 1814. Fue en esta época cuando Hokusai Katsushika realizó sus series de croquis de escenas de vida diaria, unos "dibujos caprichosos": "manga" en japonés </p>
            <p>En 1902, Kitazawa Rakuten publicó el primer manga moderno con cuatro viñetas por página y textos mecanografiados.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}